@font-face {
    font-family: "NEOPIXEL";
    src: url("public/NEOPIXEL-Regular.otf");
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}
body {
    background: #F4F4F4;
    color: #1E273F;
    font-family: "Space Grotesk", sans-serif;
   margin: 0 auto;
   padding: 32px 80px 246px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    

}
h1 {
font-family: NEOPIXEL;
font-size: 160px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h2 {
color: #3F0D00;
font-family: NEOPIXEL;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
h4 {
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.intro {
    max-width: 632px;
    padding-bottom: 80px;;
  
}
.mainProjects {
display: grid;
width: 1120px;
height: 2000px;
row-gap: 30px;
column-gap: 30px;
grid-template-rows: repeat(6, minmax(0, 1fr));
grid-template-columns: repeat(6, minmax(0, 1fr));
}
.cardgrande {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
}
.otherProjects {
max-width: 1120px;
margin-top: 80px;
display: flex;
flex-direction: column;
align-items: stretch;
gap: 16px;
align-self: center;
}
.otherProjectsCarousel {
display: grid;
row-gap: 30px;
column-gap: 30px;
grid-template-rows: repeat(1, 368px);
grid-template-columns: repeat(13, 500px);
overflow-x: scroll;
overscroll-behavior-inline: contain;
padding-bottom: 40px;
}
