@font-face {
    font-family: "NEOPIXEL";
    src: url("public/NEOPIXEL-Regular.otf");
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}
body {
    background: #F4F4F4;
    color: #1E273F;
    font-family: "Space Grotesk", sans-serif;
   margin: 0 auto;
   padding: 32px 80px 246px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1 {
font-family: NEOPIXEL;
font-size: 160px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h2 {
color: #3F0D00;
font-family: NEOPIXEL;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
h4 {
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.intro {
    max-width: 632px;
    padding-bottom: 80px;
    width: 100%;
  
}
.mainProjects {
display: grid;
width: 1120px;
max-width: 100%;
min-height: 2000px;
row-gap: 30px;
column-gap: 30px;
grid-template-rows: repeat(6, minmax(0, 1fr));
grid-template-columns: repeat(6, minmax(0, 1fr));
}

.otherProjects {
max-width: 1120px;
width: 100%;
margin-top: 80px;
display: flex;
flex-direction: column;
align-items: stretch;
gap: 16px;
align-self: center;
}
.otherProjectsCarousel {
display: grid;
row-gap: 30px;
column-gap: 30px;
grid-template-rows: repeat(1, 368px);
grid-template-columns: repeat(13, 500px);
overflow-x: scroll;
overscroll-behavior: auto;
padding-bottom: 40px;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 701px) {
 body {
    padding: 32px 40px 120px 40px;
 }
 h1 {
    font-size: 120px;
 }
 h2 {
    font-size: 48px;
 }
 h4 {
    font-size: 24px;
 }
 .intro {
    padding-bottom: 64px;
 }
 .mainProjects {
    width: 100%;
    min-height: 1800px;
    row-gap: 24px;
    column-gap: 24px;
 }
 .otherProjects {
    margin-top: 60px;
 }
 .otherProjectsCarousel {
    grid-template-columns: repeat(13, 400px);
    grid-template-rows: repeat(1, 300px);
 }
}

/* Mobile */
@media (max-width: 700px) 
{
 body {
    padding: 24px 24px 80px 24px;
 }
 h1 {
    font-size: 80px;
 }
 h2 {
    font-size: 32px;
 }
 h4 {
    font-size: 24px;
 }
 .intro {
    padding-bottom: 40px;
 }
    .mainProjects {
    width: 100%;
    min-height: auto;
    height: auto;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: repeat(7, auto);
}
 .otherProjects {
    margin-top: 40px;
 }
 .otherProjectsCarousel {
    grid-template-columns: repeat(13, 280px);
    grid-template-rows: repeat(1, 220px);
    row-gap: 20px;
    column-gap: 20px;
 }
}

/* Desktop pequeño */
@media (max-width: 1280px) and (min-width: 1025px) {
 body {
    padding: 32px 64px 200px 64px;
 }
 .mainProjects {
    width: 100%;
    max-width: 1120px;
 }
}
 
