@font-face {
    font-family: "NEOPIXEL";
    src: url("../../public/NEOPIXEL-Regular.otf");
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    padding-top: 16px;
    padding-left: 60px;
    padding-right: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    box-sizing: border-box;
}
.logo {
padding: 8px 24px;
background-color: #F4F4F4BF;
backdrop-filter: blur(100px);
border-radius: 100px;
color: #FFB800;
font-family: NEOPIXEL;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.logo.client {
        padding: 0 80px;
        }

/* Tablet */
@media (max-width: 1024px) and (min-width: 701px) {
 nav {
    padding-left: 40px;
    padding-right: 40px;
 }
 .logo {
    font-size: 40px;
    padding: 6px 20px;
 }
}

/* Mobile */
@media (max-width: 700px) {
 nav {
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    padding-top: 12px;
 }
 .logo {
    font-size: 32px;
    padding: 6px 16px;
 }
}